.layout {
    display: flex;
    min-height: 100vh;
    background-color: #f9fafb;
}

.main {
    flex: 1;
    margin-left: 260px;
    /* Width of Sidebar */
    padding: 32px;
    width: calc(100% - 260px);
}

.content {
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .main {
        margin-left: 80px;
        width: calc(100% - 80px);
        padding: 20px;
    }
}